


body{
    font-family: helvetica;
    box-sizing: border-box;
    font-size: 16px;
    background-color:#272525;
}
h1{
    font-size: 32px;
    margin:0;
    text-align: left; float: left;
    color:#E5E7ED;
    
}

h2{
    font-size: 16px;
    float: right;
    text-align: right;
    color:#E5E7ED;
}
.col {
    width:50%;
    float:left;
    min-width: 220px;
    padding-right: 20px;
    box-sizing: border-box;
}
img{
width: 100%;
height: 100%;
vertical-align: center;
padding-bottom: 20px;
border-radius: 50%;
}

.navigation{
    display: inline;
    color:#E5E7ED;
}

#listNav{
    list-style-type: none;
    display: flex;
    margin: 0;
    text-align: right;
    float: right;
    padding: 12px 10px;
    padding-top:10px;   
}



#listNav li{
    float: right;
    padding: 12px;
    text-align: right;
    padding-top:10px;
}

section{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-style:solid;
    border-width: 3px;
    border-color: #E5E7ED;
    border-radius: 10px;
    background-color: #272525;
    margin: 0 auto;
}
    
.allSections{
max-width: 700px;
margin: 0 auto;
}
  

.things{
    color:#E5E7ED;
    list-style-type: none;
    padding-left: 10%
}

    
    

.paragraph{
    width: 100%;
    color:#E5E7ED;
    
}


    
    
    /*justify-content: space-around;*/
    /*align-items: center;*/



.allrows{
    /*display: flex;*/
    bottom: 0;
    background-color: #E5E7ED;
    list-style-type: none;
    flex-grow: 1;
    font-size: 14px;
    border-radius: 10px;
    max-width: 700px;
    justify-content: center;
    margin: 0 auto;
    
    
}

#contact{
    
    /*padding-bottom: 37px;*/
    /*float: left;*/
    flex-direction: column;
    align-items: bottom;
    font-size: 32px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
#firstrow{
    display: flex;
    justify-content: left;
    list-style-type: none;
    flex-basis: 100%;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;

    
    
}
#secondrow{
    display:flex;
    list-style-type: none;
    justify-content: left;
    flex-basis: 100%;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    
    
}
.email{
    list-style-type: none;
    padding-inline-start: 5px;
}

.cell{
    list-style-type: none;
}

.office{
    list-style-type: none;
}
.linkedIn{
    list-style-type: none;
    padding-inline-start: 5px;
}
.instagram{
    list-style-type: none;
}
.resume{
    list-style-type: none;
}
.caseStudies{
    color: #E5E7ED;
    background-color: #272525;
    border-style:solid;
    border-width: 3px;
    border-color: #E5E7ED;
    border-radius: 10px;
    max-width: 700px;
    padding: 20px;
    margin: 0 auto;
}
.caseStudyHeadline{
    font-size: 32px;
    margin: 0px;
    padding: 20px;
}
.caseStudyTemplate{
    color: #E5E7ED;
    display: inline-block;
    max-width: 175px;
    padding-right: 20px;
    vertical-align: top;
    margin: auto;
}
.caseStudyTemplate p{
    font-size: 14px;
}

.caseStudyTemplate h3{
    margin-bottom: 10px;
    margin-top: 0px;
    border-radius: none;
}

a{
    color:#89A1E8;
}
.caseImage{
    border-radius: 25%;
}